@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.photographer-card:focus{
    outline: 3px solid black; /* Change la couleur et l'épaisseur de l'encadré */
    outline-offset: 2px; /* Décale l'encadré de l'élément */
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-bottom: 20px;
    margin-left: 90px;
}

.photographer-link {
    text-decoration: none; /* Enlève le soulignage du lien */
    color: inherit; /* Hérite de la couleur du texte parent */
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    padding: 5px 5px 0px 5px;
}



.photographers_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin: 0 50px 0px 50px;
}

.photographers_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographers_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
}

.photographers_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -30px;
}

.photographers_section article h3 {
    color: #D3573C;
    font-size: 13px;
    margin-top: -20px;
}

.photographers_section article h4 {
    color: black;
    font-size: 13px;
    margin-top: -10px;

}

.photographers_section article h5 {
    color: #757575;
    font-size: 13px;
    margin-top: -10px;
    font-weight: 400;

}


#mainFiche {
    margin-bottom: 5rem;
}

.profil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4rem 5rem 0 0;
    background-color: rgba(243, 244, 246, 0.5);
    padding: 2rem;
    border-radius: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.textProfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.photographer-link:focus {
    outline: 2px solid #000; /* Ajustez le style de focus selon vos besoins */
  }


@media (min-width: 768px) and (max-width:1050px){
    .photographer_section {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .photographer-card:focus{
        outline: 2px solid black; /* Change la couleur et l'épaisseur de l'encadré */
        outline-offset: 2px; /* Décale l'encadré de l'élément */
    }
}

@media (max-width:768px){
    header {
    flex-direction: column;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 120px;
    }

    .logo {
    height: 50px;
    margin: auto;
    padding: 30px;
    }

    h1 {
    color: #901C1C;
    margin: 30px auto;
    }

    .photographer_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    margin-top: 50px;
    }
    .photographer-card:focus{
        outline: 2px solid black; /* Change la couleur et l'épaisseur de l'encadré */
        outline-offset: 2px; /* Décale l'encadré de l'élément */
    }

}

























.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .lightbox-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
    display: flex;
    align-items: center;
  }
  
  .lightbox-content img {
    max-width: 100%;
    max-height: 100%;
  }
  .lightbox-content video{
    width: 1000px;
    height: 680px;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    user-select: none;
    transition: 0.6s ease;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }