/* photographer header  */

.photograph-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 5rem;
  padding: 0 2rem;
}

.phtograph-header .photograph-header__bloc-titre{
  margin-bottom: 30px;
}

.photograph-header .photograph-name{
margin-top: -20px;
font-size: 3.5rem;
font-weight: lighter;
color: #D3573C;
text-align: center;
}

.photograph-header .photograph-location{
  color: #901c1c;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: -10px;
}
.photograph-header .photograph-tagline{
  color: black;
  font-size: 1rem;
  margin: 20px 0 0 0;
}


/* contact button  */

.contact_button, .contact_send-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover{
background-color: #db8876;
color: black;
}

.photograph-header a{
  text-decoration: none;
  overflow: hidden;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  overflow:hidden;
}

.photograph-header button:focus{
transform: scale(1.2);
}

.photograph-header a:focus{
transform: scale(1.1);
}

.photographer-header a:focus{
  transform: scale(1.2);
  padding: 5px;
  }

.photograph-header img {
    display: block;
    width: 290px;
    height: 250px;
} 

  .photograph-img{
    object-fit: cover;
    width: 280px;
    object-position: 60% 60%;
    transform: translateX(-31px);
  }


@media screen and (max-width: 1160px) {
  .photograph-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 600px;
    margin: 0 5rem;
    padding: 0 2rem 1.6rem;
  }
 
  .photograph-header__bloc-titre{
    padding-top: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
  }
  
  }