
html {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    min-width: 350px;
    max-width: 1440px;
    max-height: 1024px;
  }
  
#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.photographer-header{
  display: flex;
  margin: 2rem 5rem;

}
.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 5rem;
    padding: 0 3rem;
}

.photograph-header__bloc-titre{
    display: flex;
    justify-content:left;
    flex-direction: column;
}
.photograph-header img {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0;
}

.contact_button, .contact_send-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover{
  background-color: #db8876;
  color: black;
}

.close_modale{
margin-right: 105px;
}

/*--------------------
  ------ Modale ------
  --------------------
*/

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: auto;
    animation: modalopen 0.3s;
    
  }
#contact_modal header{
  position: relative;
  /* display: flex; */
}

#contact_modal h2, #contact_modal p{
  text-align: left;
  margin: 0;
  font-size: 4.5rem;
}
#contact_modal img{
  position: absolute;
  top: 1.5rem;
  right: 0;
}

#message{
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2rem;
  resize: none;
}

form input{
  margin: 0.3rem 0 0.3rem 0;
  font-size: 2rem;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.logo {
    height: 50px;
    /* margin: 2rem 5rem; */

}

.photograph-name{
    color: #D3573C;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: normal;
}

.photograph-location{
    color: #901c1c;
    font-size: 1.5rem;
    margin: 0;
    /* font-weight: bold; */
}
.photograph-tagline{
    color: black;
    font-size: 1.1rem;
}


  /*--------------------
    ------ Galerie -----
    --------------------
*/
#sort-images-select option {
    padding: 2rem;
}

main label {
    font-weight: bold;
  }
  
  #photographer-images {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }
  
  #photographer-images img, #photographer-images video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    /* padding-top: 1rem; */
    margin-top: 1rem;
  }
  #photographer-images figure {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 5rem;

  }
  main figcaption {
    font-size: 1.5rem;
    color: #901c1c;
    max-width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0 0.5rem 0;
    
  }
  .lightbox figcaption {
    font-size: 1.5rem;
    color: #901c1c;
    padding: 0.5rem 0 0.5rem 0;
  }

  #photographer-images figure span,
  #photographer-images figure i{
    font-size: 1.3rem;
    color: #901c52;
    transition: color 0.1s ease-in-out;
    margin: 4px 10px 0px 0px;
  }
  
  #photographer-images figure i{
    cursor: pointer;
    margin-left: 10px;
  }

  #photographer-images figure i:hover{
    cursor: pointer;
    transform: scale(1.2);    
    transition: .7s;
  }

  
  #photographer-images figure span{
    bottom: 0.65rem;
    right: 1.75rem;
    font-weight: bold;
  }
  /* #photographer-images figure div{
    display: flex;
  } */

  figure{
    margin: 0;
  }






  /*-------------------
    ------ Likes ------
    -------------------
*/
.price-and-likes{
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 2rem;
  padding: 1rem 1.5rem;
  background-color: #db8876;
  color: black;
  font-weight: bold;
  width: 300px;
  border-radius: 5px 5px 0 0;
  font-size: 1.5rem;
}
.total_likes::after{
  content: "\f004";
  font-family: "fontawesome";
  padding-left: 0.5rem;
}


/* sort  */

.contact_button,
select {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.order-by__select{
  margin-left: 30px;
  margin-bottom: 20px;
}

.order-by__select{
  font-size: 25px;
}
.order-by__option{
  font-size: 25px;
}
.order-by{
   margin-top: 60px;
   flex-direction: column;
   margin-left: 50px;
  }
  .order-by__label{
      margin: 0 0 20px 30px;
  }
  .order-by__select{
      margin-left: 30px;
      margin-bottom: 20px;
  }










/*--------------------
  ------ Modale ------
  --------------------
*/

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 669px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: auto;
  animation: modalopen 0.3s;
  
}
#contact_modal header{
position: relative;
/* display: flex; */
}

#contact_modal h2, #contact_modal p{
text-align: left;
margin: 0;
font-size: 4.5rem;
}
#contact_modal img{
position: absolute;
top: 1.5rem;
right: 0;
}

#message{
width: 100%;
margin-bottom: 1rem;
font-size: 2rem;
resize: none;
}

form input{
margin: 0.3rem 0 0.3rem 0;
font-size: 2rem;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
.logo {
  height: 50px;
  /* margin: 2rem 5rem; */

}

.photograph-name{
  color: #D3573C;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  font-weight: normal;
}

.photograph-location{
  color: #901c1c;
  font-size: 1.5rem;
  margin: 0;
  /* font-weight: bold; */
}
.photograph-tagline{
  color: black;
  font-size: 1.1rem;
}






























/* @import url("photographer.css"); */
html {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "DM Sans", sans-serif;
    min-width: 350px;
    max-width: 1440px;
    max-height: 1024px;
  }
  
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 40px;
    padding: 0 7rem;
}

h1 {
    color: #901C1C;
    /* margin-right: 100px; */
}

h2, p{
    margin: 0;
    font-weight: normal;
    color: #901C1C;
    font-size: 20px;
    font-weight: 400;
}

.logo{
    height: 50px;
    /* margin-left: 100px; */
}

.personal-photos{
 display: flex;
 justify-content: space-between;
}

.likes{
  display: flex;
}

.heart-icon{
  margin-top: 50px;
}

nav a{
margin: 0;
text-decoration: none;

} 

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a{
    text-decoration: none;
}

@media screen and (max-width: 760px) {
.photograph-header{
  display: flex;
  flex-direction: column;
  height: 450px;
}

.photographer_section {
  grid-template-columns: 1fr;
}
}



.photograph-header__bloc-titre{
  margin-bottom: 30px;
}

.photograph-name{
    color: #D3573C;
    font-size: 2.3rem;
    margin-top: 1rem;
    text-align: center;
}

.photograph-location{
    color: #901c1c;
    font-size: 0.85rem;
    font-weight: bold;
}
.photograph-tagline{
    color: black;
    font-size: 0.63rem;
}
.photograph-price{
    color: #757575;
    font-size: 0.6rem;
}

.photographer_section article img {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}












/* modale */





/*--------------------
  ------ Modale ------
  --------------------
*/

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 669px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: auto;
  animation: modalopen 0.3s;
  
}
#contact_modal header{
position: relative;
/* display: flex; */
}

#contact_modal h2, #contact_modal p{
text-align: left;
margin: 0;
font-size: 4.5rem;
}
#contact_modal img{
position: absolute;
top: 1.5rem;
right: 0;
}

#message{
width: 100%;
margin-bottom: 1rem;
font-size: 2rem;
resize: none;
}

form input{
margin: 0.3rem 0 0.3rem 0;
font-size: 2rem;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* Style pour afficher les messages d'erreur avec un pseudo-élément */
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.9em;
  color: red;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

input.error, textarea.error {
  border: 1px solid red;
}

.close_modale:focus {
  transform: scale(1.2); /* Agrandir de 20% */
  transition: transform 0.2s; /* Animation douce pour l'agrandissement */
}


.close_modale:focus {
  transform: scale(1.2); /* Agrandir de 20% */
  transition: transform 0.2s; /* Animation douce pour l'agrandissement */
}







.media-container{
  display: flex;
  justify-content: center;
}

/* CSS pour la lightbox */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#lightbox .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 70px;
  margin: 0px 30px 10px 0px;
  cursor: pointer;
}

.close:focus {
  transform: scale(1.2); /* Agrandir de 20% */
  transition: transform 0.2s; /* Animation douce pour l'agrandissement */
}

#lightbox .prev, #lightbox .next {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 70px;
  cursor: pointer;
  transform: translateY(-50%);
}


#lightbox .prev {
  left: 100px;
}

#lightbox .next {
  right: 100px;
}

#lightbox .lightbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80%;
  max-width: 80%;
}

#lightbox .media-container img,
#lightbox .media-container video {
  max-height: 60%;
  max-width: 66%;
}



.personal-photos, .like-button {
  pointer-events: none;
}

.personal-photos .like-button {
  pointer-events: auto;
}




.lightbox .lightbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lightbox .lightbox-media {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.lightbox .lightbox-media img,
.lightbox .lightbox-media video {
  max-width: 100%;
  max-height: 70%;
  display: block;
  margin: 250px auto 0px auto;
}

.lightbox .lightbox-title {
  bottom: 10px;
  right: 10px;
  color: white;
  padding: 5px 254px;
  border-radius: 5px;
}













